/* bloco de codigo para resetar margin e padding */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#000000;
    /*cor do testo*/
    color: #f6f6f6;
}

.titulo-destaque {
    color: #22D4FD;
}

