/*Importando font*/
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/* bloco de codigo para resetar margin e padding 
atalho = rest* */
* {
    margin: 0;
    padding: 0;
}

body {
    /*Garante que o conteudo está ocupando 100% viewport(tela)
    height: 100vh;*/
    
    /*Limita a largura do elemento filho para n ultrapassar o pai*/
    box-sizing: border-box;
   
    background-color:#000000;
   
    /*cor do testo*/
    color: #f6f6f6;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #22D4FD;
    text-decoration: none;
}

.titulo-destaque {
    color: #22D4FD;
}

.apresentacao {
    /*site com guia de flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

    /*cria uma margin dos elementos em relação a viewport*/
    padding: 5% 10%;

    /*com esse codigo a main passa a ser flex*/
    display: flex;

    /* alinha os elementos conforme os proprios elementos 
    
    obs: não alinha os elementos conforme a viewport*/
    align-items: center;

    /*cria um espaçamento entre os elementos*/
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;

    /* deixando os elementos na vertical*/
    flex-direction: column;

    /*espaçamento dos elemnetos*/
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;

    /*usando a font importada*/
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;

    /*usando a font importada*/
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    
}

.apresentacao__links__subtitulo {
   font-family: 'Krona One', sans-serif;
   font-weight: 400;
   font-size: 24px; 
}

.apresentacao__links__botao {
    display: flex;
    justify-content: center;
    gap: 16px;
    
    /*tira o _ do botão */
    text-decoration: none;
    
    width: 378px;
    font-size: 24px;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;

    border: 2px solid #22D4FD;

    /* peso da font*/
    font-weight: 600;

    /*para saber o padding do elemento no figma tem que selecionar o elemento e precionar alt*/
    padding: 21.5px 0;

    /*alinha o texto no centro do botão*/
    text-align: center;

    /*arredonda o botão*/
    border-radius: 8px;

}

.apresentacao__links__botao:hover {
    background-color: #272727;
}

.rodape {
    background-color: #22D4FD;
    color: #000000;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
